.artist-wrapper {
	max-width: $max-artist-width;
}

.artist-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	.artist-details, .links {
		margin-bottom: $content-margin-top;
	}
}

.artist-details {
	img.artist-photo, .intro {
		display: inline-block;
		vertical-align: middle;
	}

	img.artist-photo {
		border-radius: 50%;
		margin-right: $standard-horizontal-spacing;
		width: 120px;
		height: 120px;
	}

	.intro .name {
		margin-bottom: 0;
	}
}

.artist-header .links .artist-icon {
	color: lighten($standard-text-colour, 10%);

	&:not(:last-of-type) {
		margin-right: 15px;
	}

	i {
		font-size: $artist-icon-size;
	}

	&:hover {
		color: $link-colour-hover;
	}

	&.facebook:hover {
		color: $facebook-colour;
	}

	&.instagram:hover {
		color: $instagram-colour;
	}

	&.twitter:hover {
		color: $twitter-colour;
	}

	&.etsy:hover {
		color: $etsy-colour;
	}

	&.linkedin:hover {
		color: $linkedin-colour;
	}

	&.youtube:hover {
		color: $youtube-colour;
	}
}

.artist-header .links .website-link {
	padding: 5px 10px;
	border: 1px solid;
	border-radius: 40px;
}

.artist-about {
	margin-bottom: $content-margin-top;

	.artist-bio, .artist-gallery {
		margin-top: $content-margin-top;
	}

	.artist-gallery img {
		border-radius: $border-radius;
	}
}

.workshops {
	border-top: $section-border;

	h2 {
		margin-top: $content-margin-top;
	}
}

.artist-previews {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-auto-rows: 130px;
	margin-top: $content-margin-top;

	.artist-preview {
		display: flex;
		flex-direction: row;

		img.preview-photo {
			border-radius: $preview-radius 0 0 $preview-radius;
			width: 130px;
		}

		.details {
			border-radius: 0 $preview-radius $preview-radius 0;
			width: 100%;
			background: $preview-colour;
			padding: 15px;
			color: #fff;

			p {
				font-size: 0.9rem;
				color: #ffffffd1;
			}

			.title a {
				color: inherit;
				&:hover { color: #000000b0; }
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.artist-details img.artist-photo {
		width: 100px;
	}
}

@media screen and (max-width: 630px) {
	.artist-details img.artist-photo {
		width: 80px;
	}
}

@media screen and (max-width: 550px) {
	.artist-details img.artist-photo {
		width: 60px;
		margin-right: 5px;
	}
}
