.artist-header .about {
	img.artist-photo, .intro {
		display: inline-block;
		vertical-align: middle;
	}

	img.artist-photo {
		border-radius: 50%;
	}

	.intro {
		margin-left: $standard-horizontal-spacing;

		h1 {
			margin-bottom: 0;
		}
	}
}

.artist-bio, .artist-gallery {
	margin-top: $content-margin-top;
}
