.snae-orders {
	margin-top: $content-margin-top;

	.order {
		display: flex;
		padding: 25px;
		background: #f3f3f3;
		border-radius: 10px;
		align-items: center;
		margin-top: $content-margin-top;
		justify-content: space-between;

		.order-details {
			display: flex;
			margin-right: 100px;

			img {
				border-radius: 6px;
				margin-right: 20px;
			}
		}

		.order-price {
			font-size: 1.3rem;
		}
	}
}

button#checkout-button {
	margin-top: $content-margin-top;
	padding: 10px 15px;
}
