ol.comment-list {
	list-style: none;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-form-author, .comment-form-email {
	width: 50%;

	input {
		width: 100%;
		size: initial;
	}
}

.comment-form-author {
	float: left;
	padding-right: 10px;
}

.comment-form-email {
	float: right;
	padding-left: 10px;
}

form p label {
	display: block;
}

form p.comment-form-cookies-consent label {
	display:inline-block;
}

.comment-body {
	padding: 25px;;
	border-radius: $border-radius * 2;
	margin-bottom: 12px;
	background-color: $comment-bg;

	footer.comment-meta {
		margin-bottom: $content-margin-top;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.comment-author {
				b.fn {
				font-weight: initial;
				font-size: 1.2rem;
			}
		}

		.comment-metadata > a {
			color: initial;
		}
	}
}

#comments .vcard {
	display: flex;
	align-items: center;

	img {
		margin-right: 7px;
	}

	span.says {
		display: none;
	}
}

.comment-list {
	padding: 0;

	li {
		margin-bottom: 25px;
	}
}

.comments-wrapper {
	border-top: $section-border;
	margin-top: 80px;
	padding-top: 30px;
}

#respond {
	border-top: $section-border;
	padding-top: 30px;
	margin-top: 50px;
	margin-bottom: 30px;

	input[type="submit"] {
		background: $comment-button-bg;
	}
}

h2.comments-title {
	margin-bottom: $content-margin-top * 1.5;
}
