ol.comment-list {
	list-style: none;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-form-author, .comment-form-email {
	width: 50%;
}

.comment-form-author {
	float: left;
}

.comment-form-email {
	float: right;
}
