footer.site-footer {
	height: 400px;
	background: $footer-bg;
	margin-top: $footer-margin-top;
	padding-top: $footer-padding-top;

	.content-wrapper {
		display: flex;
		justify-content: space-between;
	}
}

footer.site-footer .company-details {
	.logo .site-title {
		font-size: $footer-site-title-size;

		a { color: initial; }
	}

	div {
		margin-bottom: $footer-details-margin-bottom;

		span.detail-value {
			color: $footer-details-font-colour;
		}
	}

	.copyright {
		font-size: $footer-copyright-font-size;
	}
}

footer.site-footer .explore .links {
	display: flex;

	.footer-nav {
		.footer-nav-title {
			font-size: $footer-nav-header-size;
		}

		div ul {
			list-style: none;
			padding: 0;
			line-height: $footer-nav-line-height;
		}

		&:not(:last-of-type) {
			margin-right: $footer-nav-spacing;
		}
	}
}
