button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-radius: $border-radius;
	background: $button-bg;
	color: $button-text;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: $input-border;
	border-radius: $border-radius;
	padding: $input-spacing;
}

select {
	border: $input-border;
}

textarea {
	width: 100%;
}
