button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-radius: $border-radius;
	background: $button-bg;
	color: $button-text;
	cursor: pointer;
	padding: 4px 8px;

	&:hover {
		background: $button-hover-bg;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: $input-border;
	border-radius: $border-radius;
	padding: $input-spacing;
}

select {
	border: $input-border;
}

textarea {
	width: 100%;
}

button:hover {
	cursor: pointer;
}

footer.site-footer .newsletter form {
	display: flex;
	margin-bottom: $content-margin-top;

	input {
		padding: 10px 20px;
	}

	input[type="email"] {
		flex: 1;
		border-radius: $border-radius 0 0 $border-radius;
	}

	input[type="submit"] {
		border-radius: 0 $border-radius $border-radius 0;
	}
}
