.sticky {
	display: block;
}

#content {
	margin-top: $standard-spacing;
}

.post, .page {
	margin-bottom: $standard-spacing;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $standard-spacing 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $standard-spacing;
}

.content-wrapper {
	width: 90%;
	margin: 0 auto;
	overflow-x: hidden;
	overflow: visible;
}

.section {
	border-bottom: $section-border;
}
