body {
	overflow-x: hidden;
}

.sticky {
	display: block;
}
.updated:not(.published) {
	display: none;
}
.content-wrapper {
	width: $page-width;
	margin: 0 auto;
	overflow-x: hidden;
	overflow: visible;
}

.page-wrapper {
	max-width: $max-page-width;
}

.news-wrapper {
	@extend .content-wrapper;

	@if $max-news-width != $max-page-width {
		max-width: $max-news-width;
	}
}

.section {
	border-bottom: $section-border;
}

#page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	height: 100%;

	#content {
		flex: 1;
	}
}

i.dripicons-chevron-right {
	vertical-align: middle;
	font-size: 1.4rem;

	&:before {
		line-height: 3rem;
	}
}

.archive-nav {
	margin-top: $content-margin-top;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		i {
			color: $link-colour;
			font-size: 1.4rem;
			vertical-align: middle;

			&:hover {
				color: $link-colour-hover;
			}
		}
	}
}
