a {
	color: $link-colour;
	text-decoration: none;
}

@if $link-colour != $link-colour-visited {
	a:visited {
		color: $link-colour-visited;
	}
}

a:hover,
a:focus,
a:active {
	color: $link-colour-hover;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}
