header.site-header .content-wrapper {
	padding: $header-spacing 0;
}

header.site-header a {
	color: $nav-link-colour;
	text-decoration: none;

	&:hover {
		color: $nav-link-hover-colour;
	}
}

.site-branding .content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo h1 {
		font-size: 1.5em;
		margin: 0;
	}

	.logo h1 a {
		color: $header-logo-colour;

		&:hover {
			color: $header-logo-hover-colour;
		}
	}

	.nav-icons a i {
		color: $nav-icon-colour;
		font-size: $nav-icon-size;

		&:hover {
			color: $nav-icon-hover-colour;
		}

		&.fa-instagram:hover {
			color: $instagram-colour;
		}

		&.fa-facebook:hover {
			color: $facebook-colour;
		}
	}

	.nav-icons a:not(:last-of-type) {
		margin-right: $nav-icon-spacing;
	}
}

.main-navigation {
	text-align: center;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
	
	li {
		display: inline-block;

		

		&:not(:last-of-type) {
			margin-right: $side-spacing;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}
}

.site-main {
	.comment-navigation,
	.posts-navigation,
	.post-navigation {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
