header.site-header {
	.content-wrapper {
		padding: $header-spacing 0;
	}

	a {
		color: $nav-link-colour;
		text-decoration: none;

		&:hover {
			color: $nav-link-hover-colour;
		}
	}
}

.site-branding .content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo h1 {
		font-size: 1.5em;
		margin: 0;
	}

	.logo h1 a {
		color: $header-logo-colour;

		&:hover {
			color: $header-logo-hover-colour;
		}
	}

	.nav-icons a i, .nav-icons button#menu-toggle {
		color: $nav-icon-colour;
		font-size: $nav-icon-size;
		
		&:hover {
			color: $nav-icon-hover-colour;
		}
	}

	.nav-icons a i {
		&.fa-instagram:hover {
			color: $instagram-colour;
		}

		&.fa-facebook:hover {
			color: $facebook-colour;
		}
	}

	.nav-icons .nav-icon:not(:last-child) {
		margin-right: $nav-icon-spacing;
	}
}

.main-navigation {
	text-align: center;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	
	li {
		display: inline-block;

		&:not(:last-of-type) {
			margin-right: $side-spacing;
		}
	}
}

.nav-icon {
	width: 20px;
	margin: 0 auto;
}

#menu-toggle {
	display: none;
	cursor: pointer;
	background: none;

	&:focus {
		outline: none;
	}
}

header.toggled .main-navigation {
	display: block;
}

header #menu-toggle i {
	@extend .fa-bars;
}

header.toggled #menu-toggle i {
	@extend .fa-times;
}

@media screen and (max-width: 700px) {
	header .main-navigation {
		display: none;
		position: absolute;
		width: 100%;
		z-index: 999;
		background: #fff;
	}

	#search-icon {
		display: none;
	}

	#menu-toggle {
		display: inline-block;
	}
}

.site-main {
	.comment-navigation,
	.posts-navigation,
	.post-navigation {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
