.workshop-wrapper {
	max-width: $max-workshop-width;
}

.workshop-meta h1.title {
	margin-bottom: 0;
}

.workshop-top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: $content-margin-top;
}

.workshop-photos {
	display: flex;

	.thumbnails {
		display: flex;
		flex-direction: column;
		margin-right: $workshop-thumbnail-spacing;

		.workshop-thumbnail {
			cursor: pointer;
			width: 100px;
			padding: 1px;
			margin-bottom: $workshop-thumbnail-spacing;
		}

		.workshop-thumbnail.selected {
			border: 3px solid $selected-workshop;
			box-sizing: content-box;
		}
	}

	img#featured {
		width: $featured-width;
	}
}

.ecommerce-details {
	margin-left: $workshop-top-detail-spacing;
	background-color: $workshop-ecommerce;
	max-width: $ecommerce-max-width;
	flex: 1;

	.intro {
		padding: $workshop-padding;

		p.description {
			font-style: italic;
		}
	}

	.buy {
		width: 100%;
		color: $workshop-buy-text;
		background-color: $workshop-buy-bg;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: $workshop-padding;

		.price {
			font-size: $workshop-price-size;
			vertical-align: middle;
		}

		.buy-now {
			vertical-align: middle;
			padding: $workshop-buy-padding;
		}
	}
}

.workshop-guarantees {
	margin-bottom: $workshop-margin-bottom;
	padding-top: $workshop-padding / 2;
}
