.workshop-wrapper {
	max-width: $max-workshop-width;
}

.workshop-meta h1.title {
	margin-bottom: 0;
}

.workshop-top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: $content-margin-top;
}

.workshop-photos {
	display: flex;
	align-items: flex-start;

	.thumbnails {
		display: flex;
		flex-direction: column;
		margin-right: $workshop-thumbnail-spacing;

		.workshop-thumbnail {
			cursor: pointer;
			width: 100px;
			padding: 1px;
			margin-bottom: $workshop-thumbnail-spacing;
			border-radius: $border-radius;
		}

		.workshop-thumbnail.selected {
			border: 3px solid $selected-workshop;
			box-sizing: content-box;
		}
	}

	img#featured {
		width: $featured-width;
		border-radius: $border-radius;
	}
}

.ecommerce-details {
	margin-left: $workshop-top-detail-spacing;
	background-color: $workshop-ecommerce;
	max-width: $ecommerce-max-width;
	border-radius: $border-radius;

	.intro {
		padding: $workshop-padding;

		p.description {
			font-style: italic;
		}
	}

	.buy {
		width: 100%;
		color: $workshop-buy-text;
		background-color: $workshop-buy-bg;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: $workshop-padding;

		.price {
			font-size: $workshop-price-size;
		}

		.buy-now {
			padding: $workshop-buy-padding;
		}
	}
}

.workshop-guarantees {
	margin-bottom: $workshop-margin-bottom;
	padding-top: $workshop-padding / 2;
}

.workshop-middle {
	margin-top: $content-margin-top * 2;
	border: $section-border;
	border-radius: $border-radius;

	.title, .description, .artist {
		padding: $workshop-middle-padding;
	}

	.title { border-bottom: $section-border; }

	.artist {
		border-top: $section-border;

		.artist-name {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.name a { color: initial; }
		}

		.artist-bio {
			margin-top: $content-margin-top;
		}
	}
}
