header.site-header {
	.content-wrapper {
		padding: $header-spacing 0;
	}

	a {
		color: $nav-link-colour;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			color: $nav-link-hover-colour;
		}
	}
}

header .site-branding .content-wrapper {
	justify-content: space-between;

	.logo img {
		width: initial;
		height: $header-logo-height;
	}

	.logo h1 {
		margin-bottom: 0;
	}

	.logo h1 a {
		color: $header-logo-colour;

		&:hover {
			color: $header-logo-hover-colour;
		}
	}

	.nav-icons a i, .nav-icons button#menu-toggle {
		color: $nav-icon-colour;
		font-size: $nav-icon-size;
		
		&:hover {
			color: $nav-icon-hover-colour;
		}
	}

	.nav-icons a i {
		&.fa-instagram:hover {
			color: $instagram-colour;
		}

		&.fa-facebook:hover {
			color: $facebook-colour;
		}
	}

	.nav-icons .nav-icon:not(:last-of-type) {
		margin-right: $standard-horizontal-spacing;
	}

	button#menu-toggle {
		margin-left: $standard-horizontal-spacing;
	}
}

header .site-branding .content-wrapper {
	display: flex;
	align-items: center;
}

header.split .main-navigation,
header.combined .main-navigation {
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		
		li {
			display: inline-block;

			&:not(:last-of-type) {
				margin-right: $standard-horizontal-spacing;
			}
		}
	}
}

#menu-toggle {
	display: none;
	cursor: pointer;
	background: none;
	text-align: center;
	padding: 0;
	width: 20px;

	&:focus {
		outline: none;
	}
}

header.split.toggled .main-navigation,
header.combined.toggled .main-navigation:not(.main-desktop-nav) {
	display: block;
}

header button#menu-toggle {
	@extend .dripicons-menu;
}

header.toggled button#menu-toggle {
	@extend .dripicons-cross;
}

@media screen and (max-width: 700px) {
	button#menu-toggle {
		display: inline-block;
	}
}
