header.site-header .notification {
	padding: 10px;
	text-align: center;
	background: $snae-green;

	span {
		margin: 0 auto;

		a {
			color: #111;
			transition: 200ms color ease-in-out;

			&:hover {
				color: #fff;
				transition: 200ms color ease-in-out;
			}
		}
	}
}

.site-main {
	.comment-navigation,
	.posts-navigation,
	.post-navigation {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
