header.split .logo h1 {
	font-size: 1.5em;
}

header.split .main-navigation {
	text-align: center;
}

@media screen and (max-width: 700px) {
	header.split .main-navigation {
		display: none;
		position: absolute;
		z-index: 999;
		width: 100%;
		background: #fff;
	}

	header.split:not(.bar-shown) .user-links.nav-icons a.nav-icon {
		&:first-of-type {
			margin-right: $standard-horizontal-spacing;
		}

		&:last-of-type {
			display: none;
		}
	}

	header.site-header.split.bar-shown  .site-branding .content-wrapper {
		justify-content: space-between !important;
	}
}

@media screen and (max-width: 600px) {
	header.split .content-wrapper .nav-icons.social-links {
		display: none;
	}

	header.split .main-navigation {
		text-align: left;
	}
}

@media screen and (max-width: 480px) {
	header.split:not(.bar-shown) .user-links #cart-icon {
		display: none;
	}
}
