$snae-dark: #2B2B2B;
$snae-turquoise: #2AB890;

$grey: #ccc;
$dark-grey: #555;

$separator-colour: #e1e1e1;

$body-bg: #fff;
$standard-text-colour: $snae-dark;
$link-colour: $snae-turquoise;
$link-colour-visited: $link-colour;
$link-colour-hover: darken($snae-turquoise, 15%);

$nav-icon-colour: $dark-grey;
$nav-icon-hover-colour: $snae-turquoise;

$nav-link-colour: $dark-grey;
$nav-link-hover-colour: $snae-turquoise;

$instagram-colour: #e1306c;
$facebook-colour: #1778f2;
$twitter-colour: #00aced;
$etsy-colour: #eb6d20;

$header-logo-colour: $snae-dark;
$header-logo-hover-colour: $snae-turquoise;

$post-page-meta-colour: $dark-grey;

$footer-details-font-colour: #676767;
