$snae-dark: #2B2B2B;
$old-snae-green: #2AB890;
$snae-green: #2fa684;

$grey: #ccc;
$dark-grey: #555;
$light-grey: #f3f3f3;

$separator-colour: #e1e1e1;

$body-bg: #fff;
$standard-text-colour: $snae-dark;
$link-colour: $snae-green;
$link-colour-visited: $link-colour;
$link-colour-hover: darken($snae-green, 15%);

$button-bg: $snae-green;
$button-text: #fff;


$nav-icon-colour: $dark-grey;
$nav-icon-hover-colour: $snae-green;

$nav-link-colour: $dark-grey;
$nav-link-hover-colour: $snae-green;

$instagram-colour: #e1306c;
$facebook-colour: #1778f2;
$twitter-colour: #00aced;
$etsy-colour: #eb6d20;

$header-logo-colour: $snae-dark;
$header-logo-hover-colour: $snae-green;

$post-page-meta-colour: $dark-grey;

$footer-details-font-colour: #676767;
$footer-bg: $light-grey;

$selected-workshop: $snae-dark;
$workshop-ecommerce: $light-grey;
$workshop-buy-text: #fff;
$workshop-buy-bg: $snae-dark;

$preview-colour: $snae-green;

$blockquote-colour: $snae-green;
