$standard-spacing: 20px;

$list-bottom-spacing: $standard-spacing;
$list-left-spacing: 3em;

$input-spacing: 3px;
$side-spacing: 20px;

$nav-icon-spacing: 15px;
$nav-icon-size: 1.4rem;

$header-spacing: 12px;

