$standard-spacing: 20px;

$input-spacing: 3px;
$side-spacing: 20px;

$nav-icon-spacing: 15px;
$nav-icon-size: 1.4rem;

$header-spacing: 12px;

$page-width: 90%;
$max-page-width: 1500px;
$max-news-width: 820px;
