$standard-spacing: 20px;

$input-spacing: 3px;
$side-spacing: 20px;

$standard-horizontal-spacing: 15px;

$nav-icon-spacing: $standard-horizontal-spacing;

$header-spacing: 12px;

$post-preview-spacing: $standard-spacing * 2;
$entry-header-margin-bottom: $standard-spacing - 5;
$entry-title-margin-bottom: 5px;
$post-page-entry-header-margin-bottom: $standard-spacing + 5;
$post-page-entry-title-margin-bottom: 15px;

$p-margin-bottom: $standard-spacing / 2;
$heading-margin-bottom: $standard-spacing / 2;

$general-text-spacing: $p-margin-bottom;

$content-margin-top: 25px;

$footer-padding-top: 3 * $standard-spacing;
$footer-margin-top: 100px;
$footer-nav-spacing: 30px;
$footer-details-margin-bottom: $standard-spacing / 2;

$workshop-thumbnail-spacing: 15px;
$workshop-top-detail-spacing: 15px;
$workshop-buy-padding: 10px 15px;
$workshop-padding: 20px;
$workshop-margin-bottom: 50px;
$workshop-middle-padding: $standard-spacing * 1.5;
