$standard-spacing: 20px;

$input-spacing: 3px;
$side-spacing: 20px;

$nav-icon-spacing: 15px;

$header-spacing: 12px;

$post-preview-spacing: 50px;
$entry-header-margin-bottom: 25px;
$entry-title-margin-bottom: 5px;
$post-page-entry-title-margin-bottom: 15px;

$p-margin-bottom: $standard-spacing / 2;
$heading-margin-bottom: $standard-spacing / 2;

$general-text-spacing: $p-margin-bottom;

$content-margin-top: 25px;
