$font: 'Open Sans', sans-serif;
$pre-font: "Courier 10 Pitch", courier, monospace;

$standard-font-size: 1rem;
$standard-line-height: 1.5;

$footer-site-title-size: 1.3em;
$footer-nav-header-size: 1.2em;
$footer-nav-line-height: 1.75;
$footer-copyright-font-size: 0.7em;

$workshop-price-size: 30px;
